.site-header{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    padding-top: 43px;
    padding-bottom: 43px;
    background-color: #FEFCF7;
    /* box-shadow: 0 0 5px 5px #ccc; */
}

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sitenav__list {
    display: flex;
    margin-top: 0;
    margin-bottom: 0; 
    padding-left: 0;
    list-style: none;
}

.sitenav__item:not(:last-child){
    margin-right: 32px;
}

.sitenav__link {
    font-family: 'Barlow';
    /* font-style: normal; */
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-decoration: none;
    color: #83888F; 
}

.sitenav__link:active {
    color: #333D4B; 
}
/* HEADER RESPONSIVE START */
@media only screen and (max-width: 1200px) {
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }
    
    .site-header {
        padding-right: 20px;
        padding-bottom: 40px;
    }
    
    .site-header__logo{
        width: 235px; 
        height: 25px;
    }
    
}

@media only screen and (max-width: 565px) {
    .container {
        padding-right: 20px;
        padding-left: 20px; 
    }
    
    
    .site-header{
        padding-top: 32px;
        padding-bottom: 32px;
    }
    
    .sitenav{
        display: none;
    }
    
    .site-header__logo{
        width: 162; 
        height: 17px;
    }
    
}

/* HEADER RESPONSIVE END */
/********* HEADER STYLES END ********/
/* •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */
/* FOOTER STYLES START */

.site-footer {
    margin-bottom: 88px;
}

.site-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 48px 85px;
    background: #2C343E;
}

.site-footer__start {
    display: flex;
    align-items: center;
}

.site-footer__logo {
    margin-right: 25px;
    color: #FFFFFF;
}

.site-footer__list {
    display: flex;
    list-style: none;
}

.site-footer__item {
    padding-right: 0;
    margin-right: 33px;
}

.site-footer__link  {
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-decoration: none;
    color: #83888F;
}

.site-footer__link:active {
    color: #FEFCF7;
}

.site-footer__sm {
    display: flex;
    align-items: center;
    list-style: none;
}

.site-footer__sm--items:not(:last-child) {
    margin-right: 24px;
}

.site-footer__sm--link {
    width: 24px;
    height: 19.5px;
    left: 1203px;
    top: 3436.25px;
    color: #FEFCF7;
}

.site-footer__sm--link:active {
    color: #FDD6BA;
}

/* /FOOTER STYLES END */